body{
  background:  #d3d0cf ;
  margin: 0 auto;
  font-family: Verdana;
}

h1{
  font-size: 40px;
}

.txt_center{
  text-align: center;
}

#white_bg{
  background: white;
  margin: 20px;
  padding: 10px;
}

img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.h_margin{
  margin: 20px;
}

ul li{
  padding: 10px;
}
